<!DOCTYPE html>
<html lang="ar" dir="rtl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<link href="./css/pico.min.css" rel="stylesheet" />
	</head>
	<body>
		<main id="app">
			<div class="container">
				<article v-show="before">
					<div class="container">
						<form>
							<!-- Grid -->
							<div class="grid">
								<!-- Markup example 1: input is inside label -->
								<label for="name">
									الاسم الثلاثي لصاحب المستمسك
									<input
										v-model="name"
										type="text"
										id="name"
										name="name"
										placeholder=" الاسم الثلاثي"
										:aria-invalid="!name == ''? false:true" />
								</label>
								<label for="phone">
									ادخل رقم هاتفك
									<input
										v-model="phone"
										type="text"
										id="phone"
										name="phone"
										placeholder="رقم الهاتف"
										:aria-invalid="!phone == ''? false:true" />
								</label>
								<label for="file">اضف صورة للمستمسك</label>
								<input
									:aria-invalid="previewImage?false:true"
									@change="uploadImage"
									type="file"
									id="file"
									name="file" />
							</div>
							<!-- Button -->
							<img
								style="width: 250px; height: auto; margin: 10px"
								class="uploading-image"
								:src="previewImage" />
							<h5 v-if="warning" class="warning" style="color: brown">
								{{ warning }}
							</h5>
							<button type="submit" @click.prevent="post">ارسل</button>
						</form>
					</div>
				</article>
				<article v-show="!before">
					<div>
						<div style="text-align: center">
							<h4>شكرا جزيلا</h4>
						</div>
						<a href="https://t.me/lost_found_2023_iq_bot">
							<button class="primary">الرجوع الى التلكرام</button>
						</a>
						<button @click="before=true" class="secondary">
							رفع مستمسك ثاني
						</button>
					</div>
				</article>
			</div>
		</main>
		<script>
			const { createApp } = Vue;
			createApp({
				data() {
					return {
						before: true,
						name: "",
						phone: "",
						previewImage: null,
						message: "",
						warning: "",
					};
				},
				methods: {
					repost() {
						this.name = "";
						this.phone = "";
						this.previewImage = null;
						this.before = false;
						this.message = "";
						this.warning = "";
					},
					uploadImage(e) {
						this.image = e.target.files[0];
						const reader = new FileReader();
						reader.readAsDataURL(this.image);
						reader.onload = (e) => {
							this.previewImage = e.target.result;
						};
					},
					async post(e) {
						console.log(
							this.name === "" ||
								this.phone === "" ||
								this.previewImage === null
						);
						if (
							this.name === "" ||
							this.phone === "" ||
							this.previewImage === null
						) {
							this.warning = "يرجى ملء كافة الحقول";
							return;
						} else {
							const formData = new FormData();
							formData.append("files", this.image);
							const imageId = null;
							axios
								.post("http://65.20.143.109:1337/api/upload", formData)
								.then((response) => {
									imageId = response.data[0].id;
									console.log(imageId);
									let body = {
										data: {
											name: this.name,
											phone: this.phone,
											images: imageId,
										},
									};
									axios
										.post("http://65.20.143.109:1337/api/documents", {
											data: {
												name: this.name,
												phone: this.phone,
												images: imageId,
											},
										})
										.then((response) => {
											console.log(response);
											this.name = "";
											this.phone = "";
											this.previewImage = null;
											this.before = false;
											this.message = "تم الارسال بنجاح";
										})
										.catch((error) => {
											console.log(error);
											this.message = "فشلت العملية , يرجى المحاولة لاحقا";
										});
								});
						}
					},
				},
			}).mount("#app");
		</script>
	</body>
</html>
